body {
    padding: 0%;
    margin: 0%;
}


/*********************************************************NAVIGATION*****************************************************/

#home {
    font-size: 0;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#home a {
    padding: 0.8em;
    height: 20px;
    color: black;
    display: inline-block;
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    background-color: white;
    transition: all 1s;
    transform: all 1s;
    border-bottom: 0.06em solid black;
    margin-right: 0.4em;
}

#home a:hover {
    background-color: darkcyan;
    color: white;
    transform: scale(1.1);
}

.header {
    display: flex;
    font-size: 25px;
    margin: 0.3em 1em;
    font-weight: normal;
    position: sticky;
}


/********************************************************************ZICKZACK_LAYOUT******************************************************/

.column-60 {
    float: left;
    width: 40%;
    padding: 2%;
}

.column-40 {
    float: right;
    width: 40%;
    padding: 2%;
}

.container2 {
    display: inline-block;
    background-color: silver;
    padding: 4%;
}

.container1 {
    display: inline-block;
    padding: 4%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.zickzack {
    display: inline-block;
    max-width: 100%;
}

.zickzack img {
    width: 10%;
}

body,
html {
    height: 100%;
}

.hero-image {
    width: 97.5%;
    margin: 0 auto;
    height: 80%;
    background-image: url(../images/bild4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

footer {
    margin: 0 auto;
    /* position: absolute; */
    width: 97.5%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5mm 0;
}

.button {
    width: 15%;
    display: flex;
    text-decoration: none;
    background-color: black;
    padding: 0.5em;
    color: whitesmoke;
    transition: all 1s;
    transform: all 1s;
}

.button:hover {
    background-color: #222;
    color: white;
    transform: scale(1.1);
}